go 1.26.5

use (
	./mcmp-callback-server
	./mcmp-eai-awx
	./mcmp-eai-baas
	./mcmp-eai-checkmk
	./mcmp-eai-common
	./mcmp-eai-snow-repo-discovery
	./mcmp-eai-foreman
	./mcmp-eai-loadbalancer
	./mcmp-eai-netapp-ontap
	./mcmp-eai-netapp-storagegrid
	./mcmp-eai-olvm
	./mcmp-eai-patchnight
	./mcmp-eai-proxmox
	./mcmp-eai-repo
	./mcmp-eai-rightsizing
	./mcmp-eai-scheduler
	./mcmp-eai-snow
	./mcmp-eai-ucs
	./mcmp-eai-vcenter
)
