[GENERAL]
TimeoutSeconds = 60

[LOGGING]
Level = 'Info'

[[PROXMOX]]
URL                 = 'https://proxmox-datacenter-manager.example.local:8443/api2/json'
InsecureSkipVerify  = false
APITokenID          = 'root@pam!token-name'
APITokenSecret      = 'token-secret'

[[PROXMOX.CLUSTER]]
Cluster             = 'CL-EXAMPLE001'
URL                 = 'https://pve-example001.example.local:8006/api2/json'
APITokenID          = 'root@pam!token-name'
APITokenSecret      = 'token-secret'

[[MCMP]]
OAuthUrl          = 'http://keycloak:8100/auth'
OAuthRealm        = 'local_realm'
OAuthClientId     = 'local'
OAuthClientSecret = 'client_secret'
ApiEndpoint       = 'http://localhost:8083/clients/eai-backend-service/cloud/import'