[GENERAL]
Debug = false

[SERVICENOW]
OAuthUrl          = 'https://example.service-now.com/oauth_token.do'
OAuthClientId     = 'local'
OAuthClientSecret = 'client_secret'
ApiEndpoint       = 'https://snow.example.org/api/x_lam_lhm_cmp'
ProxyUrl          = 'http://proxy.example.com:80'

[MCMP]
OAuthUrl          = 'http://kubernetes.docker.internal:8100/auth'
OAuthRealm        = 'local_realm'
OAuthClientId     = 'local'
OAuthClientSecret = 'client_secret'
ApiEndpoint       = 'http://localhost:8083/clients/eai-backend-service/snow/snowData'
