<?xml version="1.0" encoding="UTF-8"?>

<!-- The possibly existing properties concerning the "logging.level" in the application.yml
     have priority over the log level maintained in this file.  -->
<configuration>

    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <!-- Primary SIEM server configuration -->
    <springProperty scope="context" name="siemPrimaryHost" source="siem.syslog.primary.host" defaultValue="localhost"/>
    <springProperty scope="context" name="siemPrimaryPort" source="siem.syslog.primary.port" defaultValue="514"/>
    <springProperty scope="context" name="siemPrimaryProtocol" source="siem.syslog.primary.protocol" defaultValue="UDP"/>
    <springProperty scope="context" name="siemPrimarySsl" source="siem.syslog.primary.ssl" defaultValue="false"/>

    <!-- Secondary SIEM server configuration (optional) -->
    <springProperty scope="context" name="siemSecondaryEnabled" source="siem.syslog.secondary.enabled" defaultValue="false"/>
    <springProperty scope="context" name="siemSecondaryHost" source="siem.syslog.secondary.host" defaultValue="localhost"/>
    <springProperty scope="context" name="siemSecondaryPort" source="siem.syslog.secondary.port" defaultValue="514"/>
    <springProperty scope="context" name="siemSecondaryProtocol" source="siem.syslog.secondary.protocol" defaultValue="TCP"/>
    <springProperty scope="context" name="siemSecondarySsl" source="siem.syslog.secondary.ssl" defaultValue="false"/>

    <springProfile name="local | test | docker | podman | default">

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/mcmp-backend.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/mcmp-backend-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%date{yyyy.MM.dd HH:mm:ss.SSS} | ${springAppName} | TraceId: %X{traceId:-} | SpanId: %X{spanId:-}] | %level | [%thread] | %logger{0} | [%file : %line] - %replace(%msg){'\s+', ' '}%n</pattern>
            </encoder>
        </appender>

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <!-- @formatter:off -->
                <pattern>%date{yyyy.MM.dd HH:mm:ss.SSS} | ${springAppName} | TraceId: %X{traceId:-} | SpanId: %X{spanId:-}] | %level | [%thread] | %logger{0} | [%file : %line] - %replace(%msg){'\s+', ' '}%n</pattern>
                <!-- @formatter:on -->
            </encoder>
        </appender>

        <!-- Logger -->
        <logger name="de.muenchen.mcmp"
                level="debug"
                additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="de.muenchen.mcmp.configuration.nfcconverter.NfcHelper"
                level="info"
                additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.cache"
                level="trace"
                additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <logger name="org.springframework.web"
                level="debug"
                additivity="false">
            <appender-ref ref="STDOUT" />
        </logger>

        <!-- Suppress DispatcherServlet exception logs completely -->
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="OFF" />
        <logger name="org.apache.catalina.core.ContainerBase.[Tomcat].[localhost].[/].[dispatcherServlet]" level="OFF" />

        <logger name="org.hibernate.SQL" level="OFF" />
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="OFF" />
        <logger name="org.hibernate.orm.jdbc.bind" level="OFF" />

        <!-- Logger usage -->
        <root level="info">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <springProfile name="!local &amp; !test &amp; !docker &amp; !podman &amp; !default">

        <!-- Writes internal Logback framework errors and status messages to a dedicated log file -->
        <statusListener class="ch.qos.logback.core.status.OnFileStatusListener">
            <filename>logs/logback-status.log</filename>
        </statusListener>

        <appender name="JSON_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <throwableConverter
                        class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                    <!-- default max size of one log line in docker is 16kb - UTF8 ~ 1 Character = 1 Byte -->
                    <!-- therefore limit stack_traces to a maximum of 8192 characters (to leave room for the rest of the message) -->
                    <maxLength>8192</maxLength>
                    <exclude>sun\.reflect\..*\.invoke.*</exclude>
                    <exclude>net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                    <rootCauseFirst>true</rootCauseFirst>
                </throwableConverter>
            </encoder>
        </appender>

        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/mcmp-backend.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/mcmp-backend-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%date{yyyy.MM.dd HH:mm:ss.SSS} | ${springAppName} | TraceId: %X{traceId:-} | SpanId: %X{spanId:-}] | %level | [%thread] | %logger{0} | [%file : %line] - %replace(%replace(%msg){'\r\n|\r|\n', '_'}){'\s+', ' '}%n</pattern>
            </encoder>
        </appender>

        <!-- ===================== PRIMARY SIEM APPENDER ===================== -->
        <!-- 1. Primary TCP with SSL/TLS -->
        <if>
            <condition class="ch.qos.logback.core.boolex.ExpressionPropertyCondition">
                <expression>(propertyEquals("siemPrimaryProtocol", "TCP") || propertyEquals("siemPrimaryProtocol", "tcp")) &amp;&amp; propertyEquals("siemPrimarySsl", "true")</expression>
            </condition>
            <then>
                <appender name="SIEM_PRIMARY" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                    <destination>${siemPrimaryHost}:${siemPrimaryPort}</destination>
                    <ssl />
                    <reconnectionDelay>10 second</reconnectionDelay>
                    <connectionTimeout>5 second</connectionTimeout>
                    <keepAliveDuration>1 minute</keepAliveDuration>
                    <waitStrategyType>blocking</waitStrategyType>
                    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                        <pattern>%replace(%msg){'[\r\n\t]', ' '}%n</pattern>
                    </encoder>
                </appender>
            </then>
        </if>

        <!-- 2. Primary TCP without SSL -->
        <if>
            <condition class="ch.qos.logback.core.boolex.ExpressionPropertyCondition">
                <expression>(propertyEquals("siemPrimaryProtocol", "TCP") || propertyEquals("siemPrimaryProtocol", "tcp")) &amp;&amp; !propertyEquals("siemPrimarySsl", "true")</expression>
            </condition>
            <then>
                <appender name="SIEM_PRIMARY" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                    <destination>${siemPrimaryHost}:${siemPrimaryPort}</destination>
                    <reconnectionDelay>10 second</reconnectionDelay>
                    <connectionTimeout>5 second</connectionTimeout>
                    <keepAliveDuration>1 minute</keepAliveDuration>
                    <waitStrategyType>blocking</waitStrategyType>
                    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                        <pattern>%replace(%msg){'[\r\n\t]', ' '}%n</pattern>
                    </encoder>
                </appender>
            </then>
        </if>

        <!-- 3. Primary UDP (default) -->
        <if>
            <condition class="ch.qos.logback.core.boolex.ExpressionPropertyCondition">
                <expression>!(propertyEquals("siemPrimaryProtocol", "TCP") || propertyEquals("siemPrimaryProtocol", "tcp"))</expression>
            </condition>
            <then>
                <appender name="SIEM_PRIMARY" class="ch.qos.logback.classic.net.SyslogAppender">
                    <syslogHost>${siemPrimaryHost}</syslogHost>
                    <port>${siemPrimaryPort}</port>
                    <facility>USER</facility>
                    <suffixPattern>%replace(%msg){'[\r\n\t]', '_'}</suffixPattern>
                </appender>
            </then>
        </if>

        <!-- ===================== SECONDARY SIEM APPENDER ===================== -->
        <!-- 1. Secondary TCP with SSL/TLS -->
        <if>
            <condition class="ch.qos.logback.core.boolex.ExpressionPropertyCondition">
                <expression>propertyEquals("siemSecondaryEnabled", "true") &amp;&amp; (propertyEquals("siemSecondaryProtocol", "TCP") || propertyEquals("siemSecondaryProtocol", "tcp")) &amp;&amp; propertyEquals("siemSecondarySsl", "true")</expression>
            </condition>
            <then>
                <appender name="SIEM_SECONDARY" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                    <destination>${siemSecondaryHost}:${siemSecondaryPort}</destination>
                    <ssl />
                    <reconnectionDelay>10 second</reconnectionDelay>
                    <connectionTimeout>5 second</connectionTimeout>
                    <keepAliveDuration>1 minute</keepAliveDuration>
                    <waitStrategyType>blocking</waitStrategyType>
                    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                        <pattern>%replace(%msg){'[\r\n\t]', ' '}%n</pattern>
                    </encoder>
                </appender>
            </then>
        </if>

        <!-- 2. Secondary TCP without SSL -->
        <if>
            <condition class="ch.qos.logback.core.boolex.ExpressionPropertyCondition">
                <expression>propertyEquals("siemSecondaryEnabled", "true") &amp;&amp; (propertyEquals("siemSecondaryProtocol", "TCP") || propertyEquals("siemSecondaryProtocol", "tcp")) &amp;&amp; !propertyEquals("siemSecondarySsl", "true")</expression>
            </condition>
            <then>
                <appender name="SIEM_SECONDARY" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                    <destination>${siemSecondaryHost}:${siemSecondaryPort}</destination>
                    <reconnectionDelay>10 second</reconnectionDelay>
                    <connectionTimeout>5 second</connectionTimeout>
                    <keepAliveDuration>1 minute</keepAliveDuration>
                    <waitStrategyType>blocking</waitStrategyType>
                    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                        <pattern>%replace(%msg){'[\r\n\t]', ' '}%n</pattern>
                    </encoder>
                </appender>
            </then>
        </if>

        <!-- 3. Secondary UDP (default) -->
        <if>
            <condition class="ch.qos.logback.core.boolex.ExpressionPropertyCondition">
                <expression>propertyEquals("siemSecondaryEnabled", "true") &amp;&amp; !(propertyEquals("siemSecondaryProtocol", "TCP") || propertyEquals("siemSecondaryProtocol", "tcp"))</expression>
            </condition>
            <then>
                <appender name="SIEM_SECONDARY" class="ch.qos.logback.classic.net.SyslogAppender">
                    <syslogHost>${siemSecondaryHost}</syslogHost>
                    <port>${siemSecondaryPort}</port>
                    <facility>USER</facility>
                    <suffixPattern>%replace(%msg){'[\r\n\t]', '_'}</suffixPattern>
                </appender>
            </then>
        </if>

        <!-- SIEM File Appender -->
        <appender name="SIEM_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>logs/siem-cef.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/siem-cef-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <cleanHistoryOnStart>true</cleanHistoryOnStart>
                <maxFileSize>100MB</maxFileSize>
                <maxHistory>30</maxHistory>
                <totalSizeCap>3GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %replace(%msg){'[\r\n\t]', '_'}%n</pattern>
            </encoder>
        </appender>

        <appender name="SIEM_DEBUG" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>[SIEM-DEBUG] %replace(%msg){'[\r\n\t]', '_'}%n</pattern>
            </encoder>
        </appender>

        <!-- SIEM CEF Logger: with or without secondary appender -->
        <if>
            <condition class="ch.qos.logback.core.boolex.ExpressionPropertyCondition">
                <expression>propertyEquals("siemSecondaryEnabled", "true")</expression>
            </condition>
            <then>
                <logger name="SIEM.CEF" level="INFO" additivity="false">
                    <appender-ref ref="SIEM_PRIMARY" />
                    <appender-ref ref="SIEM_SECONDARY" />
                    <appender-ref ref="SIEM_FILE" />
                </logger>
            </then>
            <else>
                <logger name="SIEM.CEF" level="INFO" additivity="false">
                    <appender-ref ref="SIEM_PRIMARY" />
                    <appender-ref ref="SIEM_FILE" />
                </logger>
            </else>
        </if>

        <!-- Suppress DispatcherServlet exception logs completely -->
        <logger name="org.springframework.web.servlet.DispatcherServlet" level="OFF" />
        <logger name="org.apache.catalina.core.ContainerBase.[Tomcat].[localhost].[/].[dispatcherServlet]" level="OFF" />

        <root level="info">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>
</configuration>
